body {
  margin: 0;
  padding: 0;
}

.location {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: whitesmoke;
  font-size: 60px;
  margin-top: 30px;
  margin-left: 180px;
  position: absolute;
  display: block;
  position: absolute;
  top: 350px;
  left: -150px;
  background-color: rgba(54, 69, 79, 0.8);
  padding: 8px;
  border-color: rgba(54, 69, 79, 0.8);
  border-radius: 3px;
}

button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  border-radius: 8px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#home {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #36454f;
  top: 50px;
  left: 20px;
}

#flight {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #36454f;
  font-size: 16px;
  top: 50px;
  left: 960px;
}

#background {
  position: absolute;
  left: 0px;
  z-index: -2;
}

p {
  position: absolute;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #36454f;
  font-size: 16px;
  margin: 40px;
  text-align: left;
  right: 600px;
}
#para1 {
  top: 500px;
}
#para2 {
  top: 580px;
}
#para3 {
  top: 680px;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  top: 740px;
}

#container {
  display: flex;
  flex: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 780px;
}

.image-img {
  margin: 0;
  padding: 0;
  border: 0;
  width: 480px;
  height: 380px;
}

.image-overlay1 {
  position: absolute;
  margin-top: 0px;
  margin-left: -480px;
  width: 480px;
  height: 380px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.image-overlay2 {
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  width: 480px;
  height: 380px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.image-overlay3 {
  position: absolute;
  margin-top: 0px;
  margin-left: 480px;
  width: 480px;
  height: 380px;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.image-title {
  font-size: 70px;
}

.image-overlay1:hover,
.image-overlay2:hover,
.image-overlay3:hover {
  opacity: 1;
}

.container {
  background-color: rgba(170, 240, 209, 0.3);
  max-width: 500px;
  max-height: 500px;
  margin-top: 480px;
  margin-left: 880px;
  padding: 20px;
  border: 3px solid rgba(170, 240, 209, 0.6);
  border-radius: 6px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  font-family: monospace;
  text-transform: capitalize;
}

small {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

strong {
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.celcius {
  font-size: 18px;
  position: relative;
  top: -26px;
}

#icon {
  margin-top: -30px;
}
