* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(247, 202, 192, 0.2);
}

h1 {
  font-size: 50px;
  margin-top: 50px;
  margin-left: 130px;
  min-width: 800px;
  font-family: monospace;
  color: rgb(221, 74, 86);
  position: absolute;
  display: block;
  text-transform: capitalize;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  margin-top: 200px;
  margin-left: 340px;
  position: absolute;
  min-width: 400px;
}

a {
  font-family: monospace;
  color: rgb(221, 74, 86);
  font-size: 20px;
  position: relative;
  text-decoration: none;
}

footer {
  font-family: monospace;
  opacity: 0.7;
  text-align: center;
  padding: 40px;
  font-size: 24px;
}

.content-wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}

#map {
  width: 1000px;
  margin-top: 300px;
}

#Eur {
  position: absolute;
  top: 410px;
  left: 500px;
}

#asia {
  position: absolute;
  top: 400px;
  left: 700px;
}

#aus {
  position: absolute;
  top: 690px;
  left: 825px;
}

#afri {
  position: absolute;
  top: 530px;
  left: 450px;
}

#na {
  position: absolute;
  top: 400px;
  left: 140px;
  max-width: 10px;
}

#sa {
  position: absolute;
  top: 620px;
  left: 220px;
  max-width: 10px;
}

.button {
  font-family: "Oswald", sans-serif;
  color: rgb(221, 74, 86);
}

#about {
  font-size: 20px;
  text-decoration: none;
  color: #36454f;
  position: absolute;
  margin-top: 700px;
  margin-left: 20px;
  border-radius: 3px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 0;
  background-color: rgb(229, 228, 221, 0.8);
  border: solid 2px rgb(221, 74, 86, 0.6);
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    position: relative;
    text-align: center;
  }

  #map {
    width: 768px;
    margin-top: 100px;
  }

  h1 {
    font-size: 24px;
    margin-top: 40px;
    margin-left: 50px;
  }

  p {
    font-size: 16px;
    margin-top: 75px;
    margin-left: 220px;
    position: absolute;
    max-width: none;
  }

  a {
    font-size: 14px;
    max-width: 10px;
  }

  #about {
    font-size: 20px;
    margin-top: 450px;
    margin-left: 20px;
    border-radius: 3px;
    width: 100px;
    height: 50px;
  }

  #Eur {
    top: 190px;
    left: 400px;
  }

  #asia {
    top: 210px;
    left: 570px;
  }

  #aus {
    top: 400px;
    left: 665px;
  }

  #afri {
    top: 280px;
    left: 380px;
  }

  #na {
    top: 190px;
    left: 135px;
  }

  #sa {
    top: 350px;
    left: 210px;
  }

  a:hover {
    background: none;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-left: 270px;
    position: absolute;
    display: block;
  }

  p {
    font-size: 20px;
    margin-top: 75px;
    margin-left: 520px;
    position: absolute;
  }

  a {
    font-size: 20px;
    position: relative;
    max-width: none;
  }

  a:hover {
    background: rgb(247, 202, 192);
    font-size: 25px;
    color: rgb(221, 74, 86);
    text-decoration: underline;
    cursor: pointer;
    max-width: none;
  }

  footer {
    text-align: center;
    font-size: 24px;
  }

  .content-wrapper {
    width: 100%;
    position: relative;
    text-align: center;
  }

  #map {
    margin-top: 90px;
    width: 100%;
  }

  #Eur {
    position: absolute;
    top: 230px;
    left: 780px;
  }

  #asia {
    position: absolute;
    top: 300px;
    left: 1000px;
  }

  #aus {
    position: absolute;
    top: 650px;
    left: 1210px;
  }

  #afri {
    position: absolute;
    top: 500px;
    left: 740px;
  }

  #na {
    position: absolute;
    top: 270px;
    left: 180px;
    max-width: none;
  }

  #sa {
    position: absolute;
    top: 560px;
    left: 320px;
    max-width: none;
  }

  .button:hover {
    color: rgb(221, 74, 86);
  }

  #about {
    font-size: 20px;
    position: absolute;
    margin-top: 700px;
    margin-left: 20px;
    width: 220px;
    height: 50px;
  }

  .button:hover {
    color: rgb(221, 74, 86);
  }

  #about:hover {
    border: solid 6px rgba(166, 214, 198);
  }
}
