* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(247, 202, 192, 0.2);
}

h1 {
  font-family: monospace;
  color: rgb(221, 74, 86);
  font-size: 40px;
  margin-top: 20px;
  margin-left: 270px;
  position: absolute;
  display: block;
  text-transform: capitalize;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-top: 75px;
  margin-left: 520px;
  position: absolute;
}

a {
  font-family: monospace;
  color: rgb(221, 74, 86);
  font-size: 20px;
  position: relative;
  text-decoration: none;
}

a:hover {
  background: rgb(247, 202, 192);
  font-size: 25px;
  color: rgb(221, 74, 86);
  text-decoration: underline;
  cursor: pointer;
}

footer {
  font-family: monospace;
  opacity: 0.7;
  text-align: center;
  font-size: 24px;
}

.content-wrapper {
  position: relative;
  text-align: center;
}

#map {
  margin-top: 90px;
}

#Eur {
  position: absolute;
  top: 230px;
  left: 780px;
}

#asia {
  position: absolute;
  top: 300px;
  left: 1000px;
}

#aus {
  position: absolute;
  top: 640px;
  left: 1200px;
}

#afri {
  position: absolute;
  top: 500px;
  left: 740px;
}

#na {
  position: absolute;
  top: 270px;
  left: 190px;
}

#sa {
  position: absolute;
  top: 550px;
  left: 330px;
}

.button {
  font-family: "Oswald", sans-serif;
  color: rgb(221, 74, 86);
}

.button:hover {
  color: rgb(221, 74, 86);
}

#about {
  font-size: 20px;
  text-decoration: none;
  color: #36454f;
  position: absolute;
  margin-top: 700px;
  margin-left: 20px;
  border-radius: 3px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 0;
  background-color: rgb(229, 228, 221, 0.8);
  border: solid 2px rgb(221, 74, 86, 0.6);
}

#about:hover {
  border: solid 6px rgba(166, 214, 198);
}
