* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(247, 202, 192, 0.2);
}

h1 {
  font-family: monospace;
  color: rgb(221, 74, 86);
  font-size: 40px;
  margin-top: 30px;
  margin-left: 270px;
  position: absolute;
  display: block;
  text-transform: capitalize;
}

a {
  font-family: monospace;
  color: rgb(221, 74, 86);
  font-size: 20px;
  position: relative;
  text-decoration: none;
}

.content-wrapper {
  position: relative;
  text-align: center;
}

#map {
  margin-top: 80px;
}

#Eur {
  position: absolute;
  top: 215px;
  left: 780px;
}

#asia {
  position: absolute;
  top: 300px;
  left: 1000px;
}

#aus {
  position: absolute;
  top: 630px;
  left: 1200px;
}

#afri {
  position: absolute;
  top: 500px;
  left: 740px;
}

#na {
  position: absolute;
  top: 270px;
  left: 190px;
}

#sa {
  position: absolute;
  top: 550px;
  left: 330px;
}

a:hover {
  background: rgb(247, 202, 192);
  font-size: 25px;
  color: rgb(221, 74, 86);
  text-decoration: underline;
  cursor: pointer;
}

footer {
  font-family: monospace;
  opacity: 0.7;
  text-align: center;
  font-size: 24px;
}
